In [11]:
import altair as alt
from vega_datasets import data
import pandas as pd

In [12]:
df = pd.read_csv("data_with_id.csv",index_col =0)
df.head()

          Country  Value  Year  Sex Indicator   id
0         Austria    9.4  2010  Tot      EMP8   40
1         Belgium    8.1  2010  Tot      EMP8   56
2  Czech Republic    8.9  2010  Tot      EMP8  203
3         Denmark    8.4  2010  Tot      EMP8  208
4          France   15.1  2010  Tot      EMP8  250

In [13]:
df['Indicator'].value_counts()

EMP3          750
EMP8          750
EMP10         500
EMP13_I       500
EMP13_A       500
EMP13_S       500
EMP18_PAT     250
EMP17         250
EMP9_5        250
EMP18_PAID    250
EMP11         250
EMP18_MAT     250
EMP18_PAR     250
Name: Indicator, dtype: int64

In [14]:
seats_parliament = df.loc[df.Indicator == "EMP17",:]
seats_parliament

           Country  Value  Year Sex Indicator   id
0          Austria   27.9  2010   W     EMP17   40
1          Belgium   39.3  2010   W     EMP17   56
2   Czech Republic   22.0  2010   W     EMP17  203
3          Denmark   38.0  2010   W     EMP17  208
4           France   18.9  2010   W     EMP17  250
..             ...    ...   ...  ..       ...  ...
20  United Kingdom   29.6  2019   W     EMP17  826
21         Estonia   23.8  2019   W     EMP17  233
22        Slovenia   36.7  2019   W     EMP17  705
23          Latvia   18.0  2019   W     EMP17  428
24       Lithuania   21.3  2019   W     EMP17  440

[250 rows x 6 columns]

In [15]:
board_members = df.loc[df.Indicator == "EMP11",:]
board_members

           Country  Value  Year Sex Indicator   id
0          Austria    8.7  2010   W     EMP11   40
1          Belgium   10.5  2010   W     EMP11   56
2   Czech Republic   12.2  2010   W     EMP11  203
3          Denmark   17.7  2010   W     EMP11  208
4           France   12.3  2010   W     EMP11  250
..             ...    ...   ...  ..       ...  ...
20  United Kingdom   32.6  2019   W     EMP11  826
21         Estonia    9.4  2019   W     EMP11  233
22        Slovenia   24.6  2019   W     EMP11  705
23          Latvia   31.7  2019   W     EMP11  428
24       Lithuania   12.0  2019   W     EMP11  440

[250 rows x 6 columns]

In [16]:
#currently using 2019 data with 3 countries
countries_1 = board_members.Country.tolist()
year =2019
filter_country = board_members[board_members.Country.isin(countries_1)]
filter_year = filter_country[filter_country.Year == year]
#filter_year.rename( columns={'Unnamed: 6':'id'}, inplace=True )
filter_year.to_csv('filter_year.csv')

In [17]:
filter_year

            Country  Value  Year Sex Indicator   id
0           Austria   31.3  2019   W     EMP11   40
1           Belgium   35.9  2019   W     EMP11   56
2    Czech Republic   18.2  2019   W     EMP11  203
3           Denmark   30.0  2019   W     EMP11  208
4            France   45.3  2019   W     EMP11  250
5           Germany   35.6  2019   W     EMP11  276
6            Greece   10.3  2019   W     EMP11  300
7           Hungary   12.9  2019   W     EMP11  348
8           Iceland   45.9  2019   W     EMP11  352
9           Ireland   26.0  2019   W     EMP11  372
10            Italy   36.1  2019   W     EMP11  380
11       Luxembourg   13.1  2019   W     EMP11  442
12      Netherlands   34.2  2019   W     EMP11  528
13           Norway   40.2  2019   W     EMP11  578
14           Poland   23.5  2019   W     EMP11  616
15         Portugal   24.6  2019   W     EMP11  620
16  Slovak Republic   29.1  2019   W     EMP11  703
17            Spain   26.4  2019   W     EMP11  724
18           Sweden   37.5  2019   W     EMP11  752
19      Switzerland   24.9  2019   W     EMP11  756
20   United Kingdom   32.6  2019   W     EMP11  826
21          Estonia    9.4  2019   W     EMP11  233
22         Slovenia   24.6  2019   W     EMP11  705
23           Latvia   31.7  2019   W     EMP11  428
24        Lithuania   12.0  2019   W     EMP11  440

In [18]:
countries_2 = board_members.Country.tolist()
year =2019
filter_country2 = seats_parliament[seats_parliament.Country.isin(countries_2)]
filter_year2 = filter_country2[filter_country2.Year == year]
#filter_year.rename( columns={'Unnamed: 6':'id'}, inplace=True )
filter_year2.to_csv('filter_year2.csv')

In [19]:
filter_year2

            Country  Value  Year Sex Indicator   id
0           Austria   30.6  2019   W     EMP17   40
1           Belgium   39.3  2019   W     EMP17   56
2    Czech Republic   20.0  2019   W     EMP17  203
3           Denmark   37.4  2019   W     EMP17  208
4            France   26.2  2019   W     EMP17  250
5           Germany   36.5  2019   W     EMP17  276
6            Greece   19.7  2019   W     EMP17  300
7           Hungary   10.1  2019   W     EMP17  348
8           Iceland   47.6  2019   W     EMP17  352
9           Ireland   22.2  2019   W     EMP17  372
10            Italy   31.0  2019   W     EMP17  380
11       Luxembourg   28.3  2019   W     EMP17  442
12      Netherlands   37.3  2019   W     EMP17  528
13           Norway   39.6  2019   W     EMP17  578
14           Poland   27.4  2019   W     EMP17  616
15         Portugal   34.8  2019   W     EMP17  620
16  Slovak Republic   20.0  2019   W     EMP17  703
17            Spain   39.1  2019   W     EMP17  724
18           Sweden   43.6  2019   W     EMP17  752
19      Switzerland   32.0  2019   W     EMP17  756
20   United Kingdom   29.6  2019   W     EMP17  826
21          Estonia   23.8  2019   W     EMP17  233
22         Slovenia   36.7  2019   W     EMP17  705
23           Latvia   18.0  2019   W     EMP17  428
24        Lithuania   21.3  2019   W     EMP17  440

In [20]:
countries = alt.topo_feature(data.world_110m.url, 'countries')
click = alt.selection_multi(fields=['Country'])
chart = (alt.Chart(countries).mark_geoshape()
     .transform_lookup(
         lookup='id',
         from_=alt.LookupData(filter_year, 'id', ['Value','Country'])
     )
     .encode(
         color='Value:Q',
         opacity=alt.condition(click, alt.value(1), alt.value(0.5)),
         tooltip=['Country:N', 'Value:Q']
     )
     .add_selection(click).project(
         type='mercator',
         scale=355,
         center=[-40,65],
         clipExtent= [[0, 0], [1000, 400]]
     )
     .properties(
         title='Europe Female Share of Seats for 2019',
         width=500,
         height=300
     )
)

bars = (
    alt.Chart(
        filter_year.nlargest(25, 'Value'),
        title='Female Share of Seats in National Parliaments').mark_bar().encode(
    x='Value',
    opacity=alt.condition(click, alt.value(1), alt.value(0.5)),
    color='Value',
    y=alt.Y('Country', sort='x'))
.add_selection(click))

chart & bars

alt.VConcatChart(...)